@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --body-bg-color: #FAF7FD;
  --purple: #BB99DD;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile{
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--purple) solid 2px;
  width: 213px;
  height: 213px;
  border-radius: 50%;
}

.img-profile{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

p{
  margin: 15px 0 17px 0;
  text-align: center;
  color: var(--purple);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

ul{
  list-style: none;
}

.link{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0px;
  width: 326px;
  height: 49px;
  border: 2px solid var(--purple);
  
  color: var(--purple);
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.icons{
  display: flex;
}

.icon{
  margin: 14.5px;
}